{
    auto_https off
}

http://:80 {
	encode zstd gzip

	handle_path /linebot/* {
		reverse_proxy linebot:5000
	}

    handle /mcp* {
        reverse_proxy mcp:8000
    }

	handle {
		respond "OK" 200
	}
}
